body {
  background: #f6f7f9;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.flex-container {
  max-width: 1016px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery {
  top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-gallery {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.title-photo {
  width: 492px;
  height: 356px;
}

.selected {
  padding: 5px;
  border: blue solid 2px;
  border-radius: 10px;
  width: 132px;
  height: 108px;
}

.cabin-photo {
  width: 148px;
  height: 124px;
}

.description {
  box-sizing: border-box;
  max-width: 492px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-left: 32px;
  padding: 24px 24px 32px 24px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nissan-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44.8px;
  color: #1a202c;
  margin: 0px;
}

.rating {
  display: flex;
  align-items: center;
}

.reviewer-440 {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.64px;
  color: #3d5278;
}

.text-description {
  padding-top: 32px;
  padding-bottom: 34px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #3d5278;
}

.capabilities {
  display: table;
  box-sizing: border-box;
  width: 444px;
}

.type-specification {
  font-weight: 400;
  font-size: 20px;
  line-height: 25.2px;
  color: #90a3bf;
}

.specification {
  font-weight: 600;
  font-size: 20px;
  line-height: 25.2px;
  color: #3d5278;
  text-align: right;
  padding-right: 44px;
}

.discount {
  color: #1a202c;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35.28px;
  margin-top: 0px;
  margin-bottom: 0px;
}

span {
  color: #90a3bf;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.16px;
}

.price {
  color: #90a3bf;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
}

.purchase {
  width: 444px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 68px;
}

.rent-button {
  padding: 16px 32px 16px 32px;
  background: #3563e9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.reviews-main {
  padding-top: 24px;
  max-width: 1016px;
  background: #ffffff;
  border-radius: 10px;
}

.reviews-amount {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: 24px;
}

.reviews-short {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #1a202c;
}

.amount {
  padding: 6px 12px;
  margin-left: 24px;
  background: #3563e9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f7f9;
}

.revisor {
  width: 56px;
  height: 56px;
}

.people-rating {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}

.people-information {
  display: flex;
  align-items: center;
}

.name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #1a202c;
  margin-left: 16px;
}

.profession {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #90a3bf;
  margin-left: 16px;
}

.date {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #90a3bf;
  margin-right: 24px;
}

.text-reviev {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #3d5278;
  margin-left: 96px;
  margin-right: 24px;
}

.show-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  gap: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #90a3bf;
}
