body {
    background: #F6F7F9;
}

.flex-container {
    display: flex;
}

.flex-item1 {
    width: 492px;
    height: 508px;
    top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item2 {
    width: 492px;
    height: 508px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 32px;
    margin-left: 32px;
}