body {
  background: #f6f7f9;
  font-family: font jakarta regular;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: font jakarta regular;
  src: url(Font/PlusJakartaSans-2.6/static/PlusJakartaSans-Regular.ttf);
}

.text {
  font-size: 16px;
}

.text--muted {
  color: #94A7CB;
}

.text--xxs {
  font-size: 12px;
}

.text--xs {
  font-size: 14px;
}

.text--sm {
  font-size: 16px;
}

.text--md {
  font-size: 20px;
}

.text--lg {
  font-size: 28px;
}

.text--xl {
  font-size: 32px
}

.text--normal {
  font-weight: 400;
}

.text--fw500 {
  font-weight: 500;
}

.text--semi_bold {
  font-weight: 600;
}

.text--bold {
  font-weight: 700;
}

.line_height {
  line-height: 20px;
}

.line_height--sm {
  line-height: 18px;
}

.line_height--md {
  line-height: 25px;
}

.line_height--28 {
  line-height: 28px;
}

.line_height--32 {
  line-height: 32px;
}

.line_height--lg {
  line-height: 35px;
}

.letter_spacing--sm {
  letter-spacing: 0.1em;
}

.mg_top--16 {
  margin-top: 16px;
}

.mg_top--8 {
  margin-top: 8px;
}


.button-primary {
  border: none;
  cursor: pointer;
  background: #3563e9;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary:hover {
  background-color: #0743f7;
}

.button-primary:active {
  border: black solid 1px;
}

.button {
  padding: 16px 32px 16px 32px;
}

.button--sm {
  padding: 10px 20px;
}


p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

main {
  max-width: 100%;
  display: flex;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid rgba(195, 212, 233, 0.4);
}

.header__left_side {
  max-width: 704px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 40px 0 40px 60px;
  align-items: center;
}

.left_side__text {
  color: #3563E9;
  text-decoration: none;
}

.left_side__search {
  position: relative;
  max-width: 492px;
  max-height: 44px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input--search {
  width: 100%;
  height: 100%;
  padding-left: 70px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
}

.left_side__search::before {
  content: url(img/search_icon.svg);
  position: absolute;
  top: 9px;
  left: 20px;

}

.left_side__search::after {
  position: absolute;
  content: url(img/setting_icon.svg);
  top: 9px;
  right: 20px;
}

.input--search::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #3D5278;
}

.header__actions {
  display: flex;
  max-width: 236px;
  width: 100%;
  justify-content: space-between;
  margin: 40px 32px 40px;
}

.size__heart {
  width: 24px;

}

.size__notif {
  width: 26px;
}

.red_dot {
  position: relative;
}

.red_dot::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border: solid #ff4423 1px;
  border-radius: 50px;
  background-color: #ff4423;
  left: 30px;
  bottom: 33px;
}


.size__setting {
  width: 24px;
}


.icon--sm {
  width: 44px;
  height: 44px;
  border-radius: 90px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 90px;
}

.icon_circle {
  border: 1px solid #C3D4E9;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}


.sidebar {
  max-width: 360px;
  height: 1980px;
  width: 360px;
  background: #ffffff;
  padding: 32px 32px 0 32px;
  color: #3D5278;
}

.sidebar__type {}

.checkbox {
  height: 20px;
  width: 20px;
}


.sidebar__filters>div {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.sidebar__filters>div>label {
  padding-left: 10px;
}

.check__number {
  padding-left: 5px;
}

.sidebar__capacity {
  margin-top: 56px;
}

.sidebar__price {
  margin-top: 56px;
}

.input--range {
  margin: 32px 0 16px 0;
  width: 100%;
}

.display_block {
  display: block;
}

.main__section {
  margin: auto;
  align-content: center;
  max-width: 1016px;
}

.flex-container {
  max-width: 1016px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__title-photo {
  width: 492px;
  height: 356px;
}

.gallery__bottom_gallery {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.bottom_gallery__photo {
  cursor: pointer;
  width: 148px;
  height: 124px;
}

.gallery__bottom_gallery:hover .bottom_gallery__photo {
  padding: 0px;
  border: none;
}

.gallery__bottom_gallery .bottom_gallery__photo:hover {
  padding: 5px;
  border: blue solid 2px;
  border-radius: 10px;
}

.stars {
  cursor: pointer;
}

.description {
  max-width: 492px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-left: 32px;
  padding: 24px 24px 32px 24px;
}

.description__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__nissan {
  line-height: 44.8px;
  color: #1a202c;
  margin: 0px;
}

.description__rating {
  display: flex;
  align-items: center;
}

.rating__reviewers_count {
  margin-left: 8px;
  color: #3d5278;
}

.description__text {
  padding-top: 32px;
  padding-bottom: 34px;
  letter-spacing: -0.02em;
  line-height: 40px;
  color: #3d5278;
}

.description__capabilities {
  display: table;
  width: 483px;
}

.capabilities__type_specification {
  color: #90a3bf;
}

.capabilities__specification {
  color: #3d5278;
  text-align: right;
  padding-right: 44px;
}

.description__actions {
  width: 444px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 68px;
}

.discount {
  color: #1a202c;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.price {
  color: #90a3bf;
  font-style: normal;
  text-decoration-line: line-through;
}


.reviews {
  margin-top: 24px;
  max-width: 1016px;
  background: #ffffff;
  border-radius: 10px;
}

.reviews__total {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: 24px;
}

.amount__text {
  padding: 6px 12px;
  margin-left: 24px;
  background: #3563e9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f7f9;
}


.reviews__people_rating {
  display: flex;
  justify-content: space-between;
  margin: 32px 0px 0px 24px;
}

.people_rating__people_information {
  display: flex;
}

.people_information__revisor {
  width: 56px;
  height: 56px;
}

.people_information__small_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small_info__name {
  color: #1a202c;
  margin-left: 16px;
}

.small_info__profession {
  font-style: normal;
  color: #90a3bf;
  margin-left: 16px;
}

.people_rating__date {
  font-style: normal;
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #90a3bf;
  margin-right: 24px;
  justify-content: space-between;
}

.text_reviev {
  font-style: normal;
  line-height: 28px;
  color: #3d5278;
  margin: 12px 24px 0px 96px;
}

.show_all {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  gap: 8px;
  font-style: normal;
  color: #90a3bf;
}

.car_suggestion {
  max-width: 1016px;
}

.car_suggestion__heading {
  display: flex;
  justify-content: space-between;
  margin: 42px 0px 26px 0px;
}

.heading__text {
  padding-left: 30px;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #90a3bf;
}

.view {
  font-style: normal;
  color: #3563E9;
}

.box_car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 317px;
  height: 388px;
  border-radius: 10px;
  padding: 24px;
  background: #FFFFFF;
}

.box_car__title_small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_small__about_car {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about_car__name {
  font-style: normal;
  display: flex;
  align-items: center;
  color: #1A202C;
}

.about_car__type {
  font-style: normal;
  display: flex;
  align-items: center;
  color: #90A3BF;
}

.heart {
  cursor: pointer;
  width: 20px;
  height: 17.8px;
}

.box_car__specification {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  display: flex;
  align-items: center;
  color: #90A3BF;
}

.specification__gasoline {
  display: flex;
  align-items: center;
}

.specification__steering {
  display: flex;
  align-items: center;
}

.specification__capacity {
  display: flex;
  align-items: center;
}

.icon_specification {
  width: 20.75px;
  height: 21.5px;
  margin-right: 9px;
}

.box_car__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  color: #1A202C;
}


.sport_car_img {
  width: 272px;
  height: 84px;
  margin-left: auto;
  margin-right: auto;
}


.suv_car_img {
  width: 260px;
  height: 112px;
  margin-left: auto;
  margin-right: auto;
}


.car_suggestion__heading {
  display: flex;
  justify-content: space-between;
  margin: 42px 0px 26px 0px;
}

.heading__icon {
  cursor: pointer;
  padding-right: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3563e9;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer {
  background-color: white;

}

.footer__info_bar {
  padding: 80px 60px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info_bar__text_info {
  max-width: 292px;
  height: 124px;
}


.info_bar__help {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info_bar__help>div {
  margin-right: 60px;
}

.text_info__text {
  color: rgba(19, 19, 19, 0.6);
  margin-top: 20px;
}

.help__link_info {
  padding-top: 38px;
  width: 152px;
}

.botton_logo {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.botton_logo::before {
  position: absolute;
  width: 0;
  overflow: hidden;
  color: #0743f7;
  transition: 0.8s;
  content: "MORENT";
}

.botton_logo:hover::before {
  width: 100%;
}

.footer__line {
  border: 1px solid rgba(19, 19, 19, 0.16);
  margin: 0 60px;
}

.footer__rights {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 48px 60px 60px;
}

.rights__right {
  display: flex;
  flex-wrap: wrap;
  max-width: 348px;
  width: 100%;
  justify-content: space-between;
  color: #1a202c;
}

.link {
  text-decoration: none;
  color: rgba(19, 19, 19, 0.6);
  padding-bottom: 20px;
}

.link--black {
  color: black;
  text-decoration: none;
}

.link--block {
  display: block;
}

.link:active {
  color: #0743f7;
}

/* style for rent.html */

.input {
  display: block;
  padding-left: 32px;
  background: #F6F7F9;
  border-radius: 10px;
  border: none;
  width: 386px;
  height: 56px;
}

.input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #90A3BF;
}

.main {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main__order {
  max-width: 852px;
  margin: 32px 32px 0 32px;
  width: 100%;
}

.main__rental_summary {
  max-width: 492px;
}

.form__subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}


.form {
  background-color: #ffffff;
  width: 100%;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.select_block__location_date_time {
  display: flex;
  justify-content: space-between;
  height: 92px;
}

.form__radio_input {
  margin-top: 32px;
}

.select_block__time_block {
  margin-top: 24px;
}

option {
  background-color: #F6F7F9;
  color: #728198;
  padding-right: 32px;
}

.select--text {
  padding-left: 32px;
}

.payment_method__visa_block {
  background: #F6F7F9;
  padding: 24px;
  margin-top: 32px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.visa_block_card_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visa_block__number_exp_date {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.visa_block__holder_cvc {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

}

.input--sm {
  background: #FFFFFF;
  width: 362px;
  height: 56px;
}

.paymenth_method__paypal,
.paymenth_method__bitcoin {
  background: #F6F7F9;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
}

.paymenth_method__bitcoin {
  margin-top: 24px;
}

.confirmation__agree_list {
  margin: 32px 0;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.agree_list__check {
  display: flex;
  align-items: center;
  padding: 18px 0 18px 34px;
  background: #F6F7F9;
  border-radius: 10px;
}

.confirmation__safe_data {
  margin-top: 32px;
}

.safe_data__info__text {
  margin-top: 18px;
}

.main__rental_summary {
  background: #FFFFFF;
  margin: 32px 32px 0 0;
  border-radius: 10px;
  padding: 24px;
  max-height: 540px;
}

.rental_summary__car_outlook {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.car_outlook__name_rating {
  margin-left: 16px;
}

.name_rating__rating {
  display: flex;
  align-items: center;
}

.rental_summary__line {
  border: 1px solid rgba(195, 212, 233, 0.4);
  margin: 32px 0;
}

.rental_summary__subtotal {
  display: flex;
  justify-content: space-between;
}

.rental_summary__tax {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.rental_summary__apply_now {
  display: flex;
  margin-top: 32px;
  background: #F6F7F9;
  border-radius: 10px;
}

.bottom--apply {
  border: none;
  background-color: #F6F7F9;
  border-radius: 10px;
  padding-right: 25px;
  width: 140px;
  cursor: pointer;
}

.rental_summary__total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}


/* style for catalog.html */

button {
  all: unset;
  cursor: pointer;
}

.input--xs {
  width: 116px;
  display: block;
}

.switch {
  position: relative;
  display: flex;
  max-width: 1015px;
  width: 100%;
  margin-top: 24px;
  justify-content: space-between;
}

.switch__rent_filter {
  max-width: 486px;
  width: 100%;
  height: 132px;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 24px 24px 28px 24px;
}

.rent_filter__list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.input--none_border {
  border: none;
  background-color: #FFFFFF;
}

.rent_filter__list>div>p {
  padding-left: 4px;
}

.rent_filter__list>div>input::placeholder {
  color: #90A3BF;
  font-size: 12px;
}

.switch__button {
  display: flex;
  position: absolute;
  left: 480px;
  top: 30px;
  background-color: #3563E9;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.switch__button:hover {
  background-color: #0743f7;
}